.routeTransition {
  width:  100%;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.container {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qrVideoMask {
  width: 100%;
  border-radius: 15px;
  overflow: hidden !important;
  position: relative;
}

.qrPlaceholder {
  border: 2px rgba(139, 139, 139, 0.4) dashed;
  width: 100%;
  border-radius: 15px;
  padding: 50px;
}

.qrIcon {
  opacity: 0.3;
}