# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store

# env
.env.local
.env.development.local
.env.test.local
.env.production.local

# typescript
*.tsbuildinfo
next-env.d.ts
